extends ./layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare, urna ut suscipit
                venenatis libero lorem sollicitudin massa, in congue tellus metus non erat. Aliquam ut eros et.
                p Phasellus volutpat viverra leo vitae euismod. Integer tortor lectus, mattis nec porttitor nec,
                laoreet id magna. Cras pharetra, justo a mattis congue, nulla tellus pulvinar orci, vitae pharetra
                dolor leo ac risus. Curabitur nec lobortis diam, a egestas lorem. Pellentesque habitant morbi tristique 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .container
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD 
    .container 
        h2.mt-5.text-center Testimoniales
                include ./layout/bloque_testimoniales